

@model HotelRoomModel

<link rel="stylesheet" href="~/css/fields.css" media="screen" type="text/css" />

<div id="login-form">
    <h1>Edit room</h1>
    <fieldset>
        <form action="/Rooms/EditRoom" method="post">
            <input type="hidden" name="HotelRoomId" value="@Model.HotelRoomId">
            <input type="text" name="Number" required placeholder="Number" value="@Model.Number" pattern="^[a-zA-Z0-9]+$">
            <input type="text" name="PricePerDay" required placeholder="PricePerDay" value="@Model.PricePerDay" pattern="^[0-9]*[,]?[0-9]+$">
            @Html.DropDownList("TypeComfort", Html.GetEnumSelectList(typeof(TypeComfortEnumModel)))
            @Html.DropDownList("TypeSize", Html.GetEnumSelectList(typeof(TypeSizeEnumModel)))
            <input type="submit" value="Save">
        </form>
    </fieldset>
</div>
